# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
lang: en-US
title: Calogica.com
title_separator: "|"
email: info@calogica.com
name: Claus Herther
description: >- # this means to ignore newlines until "baseurl:"
  Calogica Data & Analytics Consulting, Los Angeles.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  clausherther
linkedin_username: clausherther
timezone: America/Los_Angeles

analytics:
  provider               : "google-universal"
  google:
    tracking_id          : UA-118767562-1
    anonymize_ip         : true

twitter:
  username               : &twitter "calogica"

author:
  name             : Claus Herther # *name is a YAML reference pointing to the &anchor earlier
  avatar           : "/assets/images/headshot.jpg"
  bio              : "Data & Analytics Consulting"
  location         : "Los Angeles, CA"
  email            : "info@calogica.com"
  # uri              : "http://calogica.com"
  home             : "http://calogica.com"
  github           : "clausherther"
  linkedin         : "clausherther"
  twitter          : *twitter

logo: "/assets/images/logo.png"
search: true
# search_full_content: false # true, false (default)
# search_provider: # lunr (default), algolia
# algolia:
#   application_id: # YOUR_APPLICATION_ID
#   index_name: # YOUR_INDEX_NAME
#   search_only_api_key: # YOUR_SEARCH_ONLY_API_KEY
#   powered_by: # true (default), false

# Build settings

comments:
  provider: "disqus"
  disqus:
    shortname: "calogica-blog"


markdown: kramdown

theme: minimal-mistakes-jekyll
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "mint"
layout: single

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

feed:
  path: atom.xml

# # Pagination - https://jekyllrb.com/docs/pagination/
paginate: 5
paginate_path: /page:num/

include: ["_pages"]

# Front Matter Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      classes: wide
      mathjax: true
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      sidebar:
          image: "/assets/images/headshot.jpg"
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
